* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: aliceblue;
  font-size: 20px;

  background-image: url("./static/img/evening.jpg");

  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}



.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
}


.container {
  width: 100%;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;

}

.current-weather {
  width: 100%;
  max-width: 300px;

  padding: 15px 20px;
  margin: 20px auto 0px;
  border: 2px solid #fff;
  border-radius: 10px;

  background: rgba(63, 75, 73, 0.541);

  opacity: 0
}

.week-weather {
  width: 100%;
  max-width: 300px;

  padding: 10px;

  margin: 20px auto;
  border: 2px solid #fff;
  border-radius: 10px;

  background: rgba(63, 75, 73, 0.541);

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  opacity: 0;
}

.week-weather__day {

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  margin: 5px 5px;

  font-size: 20px;
  padding: 5px 10px;
  background: rgba(138, 165, 161, 0.281);
  border-radius: 10px;
  border: 2px solid rgba(229, 226, 179, 0.5);
  border-right: none;
  border-left: none;
}

.hourly-weather {
  width: 100%;

  padding: 15px 20px;
  margin: 15px;
  border: 2px solid #fff;
  border-radius: 10px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vh;
  background: rgba(63, 75, 73, 0.541);

  opacity: 0
}

/* RTG */

.entered {
  opacity: 1;
  transition: opacity 300ms;
}

@media(min-width: 500px) {


  .hourly-weather {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 650px) {

  .hourly-weather {
    grid-template-columns: repeat(4, 1fr);

  }
}

@media(min-width: 800px) {


  .week-weather {

    grid-template-columns: repeat(2, 1fr);

  }

  .hourly-weather {
    grid-template-columns: repeat(5, 1fr);
  }

  .container {
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-wrap: wrap;

  }
}

@media(min-width: 1000px) {
  .week-weather {
    min-width: 600px;
    grid-template-columns: repeat(3, 1fr);

  }

  .hourly-weather {
    grid-template-columns: repeat(6, 1fr);
  }
}


.hourly-weather__hour {
  height: auto;
  padding: 5px 5px;
  background: rgba(185, 194, 68, 0.493);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.425);
  border-right: none;
  border-left: none;
  margin: 5px;
}

.hour__time {
  display: flex;
  align-items: center;
}

.hour__time_item {
  display: inline-block;
}


.day__number {
  color: blanchedalmond;
  font-size: 24px;
  font-weight: 400;

  display: "flex";
  align-items: center;
  justify-content: space-between
}

.current-weather__description::first-letter {
  text-transform: capitalize;
}

.day__descroption {
  display: block;
  font-style: italic;
  font-weight: 400;
  color: blanchedalmond;

}

/* form */

.form-input {
  width: 100%;
  caret-color: rgba(250, 255, 223, 0.863);
  font-size: 20px;
  color: rgb(242, 255, 205);

  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.805);
}



.form-input:focus::placeholder {
  color: transparent;
}


/* btn */
.form-btn {
  background-color: transparent;
  border-radius: 8px;
  border-right: none;
  border-left: none;

  color: #ffffff;
  font-family: Arial;
  font-size: 12px;

  padding: 5px 10px;
  text-decoration: none;
  outline: none;

  cursor: pointer;
}

.form-btn:hover {
  background: linear-gradient(to bottom, #408c991f 5%, #9659b32a 100%);
}

.form-btn:active {
  position: relative;
  top: 1px;
}




/* media */

@media(min-width: 500px) {


  .hourly-weather {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 650px) {

  .hourly-weather {
    grid-template-columns: repeat(4, 1fr);

  }
}

@media(min-width: 800px) {

  .week-weather {

    grid-template-columns: repeat(2, 1fr);

  }

  .hourly-weather {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media(min-width: 1000px) {
  .week-weather {
    min-width: 600px;
    grid-template-columns: repeat(3, 1fr);

  }

  .hourly-weather {
    grid-template-columns: repeat(6, 1fr);
  }

  /* spinner */
  .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .cube1,
  .cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }

  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  @-webkit-keyframes sk-cubemove {
    25% {
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
      -webkit-transform: rotate(-360deg);
    }
  }

  @keyframes sk-cubemove {
    25% {
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }

}